.btn {
  padding: 0.55rem 1.5rem 0.45rem;
}
body {
  font-family: "Consolas", monospace;
  margin: 0;
  padding: 0;
  background-image: url(./Images/Background-1.jpg), url(./Images/upsidedown.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: repeat;
}
.extra-a:hover {
  color: rgb(253, 255, 156);
}
.extra-a:active {
  color: rgb(255, 128, 49);
}
.extra-div-height {
  margin-top: 5%;
}
.translucent-bg {
  background-color: rgba(255, 255, 255, 0.5);
  /* Adjust the last value (alpha) to control transparency */
}
