.btn {
    padding: .55rem 1.5rem .45rem;
  }
  body{
    margin: 0;
    padding: 0;
    background-image: url(./Images/Background-1.jpg),url(./Images/upsidedown.jpg);
    background-size:contain;
    background-attachment: scroll;
    background-position: center top;
    background-repeat:round;
  }